body,html {
	padding: 0;
	margin: 0;
	height: 100%;
	background: transparent;
}
.layout {
	max-width: 1100px;
	margin: 0 auto;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
ul,ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
p {	
	font-size: 14px;
	color: #9e9e9e;
}
.title {
	text-align: center;
}
.title>h3 {
	font-size: 30px;
	font-weight: bolder;
	color: #000;
}
/*nav*/
#nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	background: #fff;
}
#nav .tab>a>img {
	margin-top: 15px;
}
#nav .tab>li:nth-child(2):after {
	content: '\e638';
	display: block;
	font-family: 'iconfont';
	position: absolute;
	top: 40%;
	left: -15px;
}
#nav .tab>li:nth-child(3):after {
	content: '\e638';
	display: block;
	font-family: 'iconfont';
	position: absolute;
	top: 40%;
	left: -15px;

}
#nav .tab>li {
	position: relative;
	float: right;
	padding: 18px;
}
#nav .tab>li>a {
	text-transform: uppercase;
	color: #000;
}
#nav .tab li:hover .second-level{
	display: block;
}
#nav .tab>li a:hover {
	color: red;
}
#nav .second-level {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	padding: 20px;
	background: #02bdd5;
	white-space: nowrap;
}
#nav .second-level li {
	margin-bottom: 10px;
}
#nav .second-level li a {
	color: #fff;
}
/*header*/
.sign1 {
	position: relative;
	bottom: -100px;
	opacity: 0;
}
#header {
	height: 100%;
	text-align: center;
}
#header:before {
	content: '';
	display: block;
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/slider.jpg) no-repeat 0 -90px #fff;
	background-size: cover;
	opacity: .4;
}
#header .container {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
}
#header .container .welcome-word {
	font-size: 36px;
	font-weight: bolder;
	font-family: '微软雅黑'
}
#header .container .wrap {
	overflow: hidden;
	height: 48px;
}
#header .container .wrap>ul {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}
#header .container .wrap>ul li {
	font-size: 36px;
	font-weight: bolder;
	text-align: center;
	color: #02bdd5;
	height: 48px;
}
#header .container>p {
	font-size: 18px;
}
#header .container .btn-view-work {
	margin-top: 60px;
}
#header .container .btn-view-work a {
	padding: 15px;
	border-radius: 3px;
	background: #434343;
	color: #fff;

}
/*about me*/
.about-me {
	padding: 100px 0;
	background: #fff;
}
.about-me .container .img{
	position: relative;
	right: -100px;
	opacity: 0;
	float: right;
}
.about-me .container .content>h3 {
	font-size: 30px;
	color: #000;
}
.about-me .container .content {
	position: relative;
	left: -100px;
	opacity: 0;
	width: 550px;
	border: 1px solid transparent;
	color: rgba(200,200,200,.8);
}
/*latest-works*/
.sign3Title {
	position: relative;
	top: -50px;
	opacity: 0;
}
.sign3 {
	position: relative;
	left: -40px;
	opacity: 0;
}
.latest-works {
	background: #fff;
	padding: 100px 0;
}
.latest-works .work-list .photos {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.latest-works .work-list .photos li img{
	width: 345px;
}
.latest-works .work-list .photos li {
	padding-bottom: 20px;
	background: #fff;
	margin-top: 35px;
	box-shadow: 5px 5px 10px 0 #ccc;
}
.latest-works .work-list .photos li h4 {
	margin: 8px;
	margin-left: 20px;
	color: #04b3d5;
}
.latest-works .work-list .photos li p {
	margin: 0;
	margin-left: 20px;
}
.latest-works .work-list .photos li .shade {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 345px;
	height: 290px;
	background: rgba(0,0,0,.5)
}
.latest-works .work-list .photos li .shade .link {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 80px;
	height: 40px;
	transform: scale(0);
	text-align: center;
	line-height: 40px;
	border: 1px solid #fff;
}
.latest-works .work-list .photos li .shade .link a {
	color: #fff;
}
.latest-works .work-list .photos li .shade .demo {
	left: 25%;
}
.latest-works .work-list .photos li .shade .details {
	left: 55%;
}
.latest-works .work-list .photos li .wrap {
	overflow: hidden;
}

.latest-works .work-list .photos li:hover img{
	transform: scale(1.2);
	transition: transform .3s linear;
}
.latest-works .work-list .photos li:hover .shade {
	display: block;
	z-index: 1;
}
.latest-works .work-list .photos li:hover .link {
	transform: scale(1);
	transition: all 2 linear;
}
/*offer-form-me*/

.sign4, .sign4Title {
	position: relative;
	top: -50px;
	opacity: 0;
}
.offer-form-me {
	background: #fff;
	padding: 100px;
}
.offer-form-me .title h4 {
	font-size: 30px;
}
.offer-form-me p {
	font-size: 15px;
}
.offer-form-me .wrap .container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.offer-form-me .wrap .container li {
	width: 340px;
}
.offer-form-me .wrap .container .introduce {
	display: inline-block;
	vertical-align: middle;
	width: 220px;
}
.offer-form-me .wrap .container img {
	vertical-align: middle;
}
/*footer*/
.sign5 {
	position: relative;
	top: -50px;
	opacity: 0;
}
#footer {
	padding: 80px;
	background: #02bdd5;
}
#footer>h3 {
	color: #fff;
}
#footer>p {
	color: #fff;
}
#footer .btn-contact {
	margin-top: 50px;
}
#footer .btn-contact a {
	padding: 15px;
	background: #fff;
	color: #02bdd5;
	border-radius: 3px;
}
/*copyright*/
.copyright {
	text-align: right;
	color: #02bdd5;
	background: #fff;
}
.copyright>div {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}
.copyright span {
	color: #000;
}
.copyright i {
	font-family: 'iconfont';
	margin-left: 10px;
	font-style: normal;
}
.copyright .other-icon1:after {
	content: '\e68f';
	font-family: 'iconfont';
	margin-left: 10px;
}
.copyright .other-icon2:after {
	content: '\e635';
	font-family: 'iconfont';
	margin-left: 10px;
}

/*latest-work-modal-dialog*/
.latest-work-modal-dialog {
	position: fixed;
	display: none;
	background: rgba(0,0,0,.8);
	z-index: 3;
	overflow-x: hidden;
}
.latest-work-modal-dialog .wrap {
	position: absolute;
	width: 600px;
	height: 500px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	/*margin: 150px auto;*/

}
.latest-work-modal-dialog .wrap .close {
	position: absolute;
	right: 10px;
	top: 10px;
	color: 30px;
	cursor: default;
}
.latest-work-modal-dialog .wrap .banner-btn {
	position: absolute;
	text-align: center;
	line-height: 80px;
	width: 50px;
	height: 80px;
	border: 1px solid #000;
	top: 50%;
	transform: translateY(-50%);
	background: #eee;
	cursor: default;
}
.latest-work-modal-dialog .wrap .btn1 {
	left: 0;
}
.latest-work-modal-dialog .wrap .btn2 {
	right: 0;
}
.latest-work-modal-dialog .wrap .banner li {
	display: none;
}
.latest-work-modal-dialog .wrap .banner li.active {
	display: block;
}